<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" th:action="@{/new-comment}" th:object="${commentForm}">

        <label for="postId">게시글 번호 : </label>
        <input type="text" name="postId" id="postId" th:field="*{postId}">
        <small th:if="${#fields.hasErrors('postId')}" th:errors="*{postId}"></small>

        <label for="description">내용 : </label>
        <input type="text" name="description" id="description" th:field="*{description}">
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>

        <button type="submit" name="submit" value="value">제출하기</button>
    </form>

</body>
</html>